{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-image:url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-taobao-tmall-big-name-beauty-activities-main-map-image_192173.jpg); height: 100%; width: 100%;background-repeat: no-repeat;background-size: cover;">
    <div  class="container-fluid" >
   <div  class="container">
    <div class="container mb-5"><h2 style="background-color: rgba(0, 0, 0,0.5);color: antiquewhite;text-align: center;">User Register</h2></div>
   
    <form action="{% url 'e_tcr' %}" method="post" class="needs-validation mt-5" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">First name</label>
          <input type="text" name="first" value="{{stf.user.first_name}}" class="form-control"  placeholder="First name"  required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label >Last name</label>
          <input type="text" name="last"value="{{stf.user.last_name}}"   class="form-control" placeholder="Last name"  required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
    
      </div>
      <div class="form-row">
          <div class="col-md-3 mb-3">
              <label >Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" >@</span>
                </div>
                <input type="text" name="user" value="{{stf.user.username}}"  class="form-control"  placeholder="Username" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>




            <div class="col-md-3 mb-3">
              <label >Address</label>
              <div class="input-group">
                
                <input type="text" name="address" value="{{stf.address}}" class="form-control"  placeholder="Address" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a Adress.
                </div>
              </div>
            </div>
       
            <div class="col-md-2 mb-3">
              <label >Profile</label>
              <div class="input-group">
                
                <input type="file" name="profile"   class="form-control"  placeholder="profile"  required>
                <div class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>
       
      </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
              <div class="form-group">
                 
                  <div class="form-group">
                    <label >Gender</label>
                  <input type="text" value="{{stf.gender}}" name="gender" class="form-control">
                  </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
              <label >Mail Id</label>
              <div class="input-group">
               
                <input type="email" name="email" value="{{stf.user.email}}" class="form-control"  placeholder="Mail id" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a Mail.
                </div>
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <label >Course</label>
              <div class="input-group">
               <select class="form-control" name="sel">
                {% for i in crs %}
                {% if i.id == stf.course.id %}
                <option value="{{i.id}}" selected>{{i.course_name}}</option>
                {% else %}
                <option value="{{i.id}}">{{i.course_name}}</option>
                {% endif %}
                {% endfor %}
               </select>
               
              </div>
            </div>
       
      </div>

    

      <div class="form-row">
          <div class="col-md-4 mb-3">
              <label >Date of Birth</label>
              <div class="input-group">
             
                <input type="date" name="dob" value="{{stf.dob|date:'Y-m-d'}}" class="form-control"  placeholder="Date of Birth" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a date of birth.
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 ">
              <label >Phone Number</label>
              <div class="input-group">
             
                <input type="number" name="phone" value="{{stf.phone}}" class="form-control"  placeholder="Mobile Number" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please enter your number.
                </div>
              </div>
            </div>
       
      </div>

      
      <div class="form-row">
          <div class="col-md-4 mb-3">
              <label >PASSWORD</label>
              <div class="input-group">
             
                <input type="password" name="pas" value="{{stf.user.password}}" class="form-control"  placeholder="Password" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a PASSWORD.
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label >C PASSWORD</label>
              <div class="input-group">
               
                <input type="password" name="pas1" value="{{stf.user.password}}" class="form-control"  placeholder="Confirm password" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a Confirm Password.
                </div>
              </div>
            </div>
       
       
      </div>
       


      <div class="form-group ml-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">ReGiStEr</button>
    </form>
   </div>
</div>
</body>
{% endblock %}